* {
	padding: 0;
	margin: 0;
	border: 0;
	}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    margin-top: 40px;
    margin-bottom: 143px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_menu {
    display: flex;
    gap: 20px;
}

.header_menu a{
    color: black;
}

.main_content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 200px;
}

.main_logos {
    margin-bottom: 96px;
    display: flex;
    justify-content: space-between;
}

.main_info h1{
    padding-bottom: 17px;
}

.main_info p{
    padding-bottom: 37px;
}

.text {
    color: #888;
    font-size: 20px;

}

.main_info h1 {
    font-size: 70px;

}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.main_buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 72px;
}

.start_but {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20); 
    width: 140px;
    height: 50px;
    flex-shrink: 0; 
    color: white;
}

.watch_but {
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    background-color: white;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

a {
    text-decoration: none;
}